<template>
  <div>Page. {{ pageId }}</div>
</template>

<script>
import { LoremIpsum } from 'lorem-ipsum';

const lorem = new LoremIpsum({
  sentencesPerParagraph: {
    max: 8,
    min: 4,
  },
  wordsPerSentence: {
    max: 16,
    min: 4,
  },
});

export default {
  name: 'Page',
  props: ['pageId'],
  metaInfo() {
    return {
      meta: [
        { property: 'og:type', content: 'website' },
        {
          name: 'og:title',
          content: this.meta.title,
        },
        {
          name: 'og:description',
          content: this.meta.description,
        },
        {
          property: 'og:image',
          content: this.meta.image,
        },
        {
          property: 'og:url',
          content: 'https://fubonlife.gitlab.io/vue-meta-test/' + this.pageId,
        },
      ],
    };
  },
  data() {
    return {
      meta: {
        title: undefined,
        description: undefined,
        image: undefined,
      },
    };
  },
  async mounted() {
    const title = lorem.generateSentences(1);
    const description = lorem.generateSentences(1);
    this.meta.title = await this.delay(title);
    this.meta.description = await this.delay(description);
    console.log(this.meta.title);
    // this.meta.image = await this.getTitle();
  },
  methods: {
    delay(value) {
      return new Promise((r) => {
        setTimeout(() => {
          r(value);
        }, 3000);
      });
    },
  },
};
</script>
